@model IEnumerable<IndividualLoginExample.Models.Role>
@{
    ViewBag.Title = "Roles";
}
<h4>Roles</h4>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { roleId = item.Id }) |
            @Html.ActionLink("Details", "Details", new { roleId = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { roleId = item.Id })
        </td>
    </tr>
}
</table>*@

<table id="roleDetailsTable" class="display">
    <thead>
        <tr>
            <th>Column 1</th>
            <th>Column 2</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Row 1 Data 1</td>
            <td>Row 1 Data 2</td>
        </tr>
        <tr>
            <td>Row 2 Data 1</td>
            <td>Row 2 Data 2</td>
        </tr>
    </tbody>
</table>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#roleDetailsTable').DataTable();
        });
    </script>
}