@model IEnumerable<IndividualLoginExample.Models.Role>
@{
    ViewBag.Title = "Roles";
}
<h4>Roles</h4>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { roleId = item.Id }) |
            @Html.ActionLink("Details", "Details", new { roleId = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { roleId = item.Id })
        </td>
    </tr>
}

</table>
